{% extends "numbers/base.html" %}


{% block content %}

<section class="interlude-screen">

    <div class="interlude-heading">

        <span class="interlude-kicker">
            Narrative Interlude 2
        </span>

        <h2>
            Meanwhile...
        </h2>

    </div>


    <div class="interlude-story">


        <p>
            NARRATOR: Sir Lancelot had saved Sir Galahad from almost certain temptation, but they were still no nearer the Grail. Meanwhile,
        </p>
        <p>
            King Arthur and Sir Bedevere, not more than a swallow's flight away, had discovered something. Oh, that's an unladen swallow's flight, obviously. I mean, they were more than two laden swallow's flights away -- four, really, if they hadn't a cord of line between them.
        </p>
        <p>I mean, if the birds were walking and dragging--</p>
        <p><strong>Get on with it!</strong></p>
        <p>NARRATOR: Oh, anyway, on to scene twenty-four, which is a smashing scene with some lovely acting, in which Arthur discovers a vital clue, in which there aren't any swallows, although I think you can hear a starling -oolp!</p>

    </div>


    <a
        href="{{ url_for('home') }}"
        class="button-link interlude-button"
    >
        Start again
    </a>

</section>


{% endblock %}